
div(id="")
    nav(class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0")
        div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
            a(href="#menu-toggle" class="btn btn-secondary" id="menu-toggle")
                i(class="fa fa-navicon fa-fw")
            a(href="#menu-toggle" class="btn btn-secondary" id="menu-toggle")
                img(id="title" class="card-img-top img_title" src="/images/logo4.png" alt="Card image cap")
    div(class="container-fluid")
        block content