// NAVEGATION
div(id="sidebar-wrapper")
    ul(class="sidebar-nav")
        li(class="sidebar-search")
            div(class="avatar")
                img(src="https://bootdey.com/img/Content/user-453533-fdadfd.png" class="img-thumbnail img-profile")
                h4 Martin maoth
                a(href="/users/profile") 
                    h5 Editar
        li(class="sidebar-brand")
            
        li
            a(href="/dashboard") Reproductor
                span
                    i(class="fa fa-music fa-fw")
        li
            a(href="#") Nuevo Artista
                span
                    i(class="fa fa-book fa-fw")
        li
            a(href="#") Mi Listas
                span
                    i(class="fa fa-folder-open fa-fw")
        li
            a(href="/") Salir
                span
                    i(class="fa fa-sign-out fa-fw")