
img[id="title"] {
    width: 150px;
}

ul[class="nav"] > li{
    padding-top: 10px;
    padding-bottom: 10px;
}

ul[class="nav"] > li > a > i {
    width: 160px;
    font-size: -webkit-xxx-large !important;
    color: orange !important;
}

/*ul[class="nav"] > li > label {
    margin-left: 80px;
    color: #5E5E5E;
}*/

ul > li > a > span > i {
    color: orange;
}

ul > li > a {
    color: orange !important;
}

div[class="avatar"] {
    width: 130px;
    margin: 27px;
    margin-top: 25px;
}

/*div[id="page-wrapper"] {
    margin-left: 210px !important;
}

div[class="navbar-default sidebar"] {
    width: 210px !important;
}*/
