doctype html
html
  head
    title= 'Music Server'
    link(rel='stylesheet', href='../vendor/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='../stylesheets/simple-sidebar.css')
    link(href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css")
    link(rel="stylesheet", href="../stylesheets/dashboard_styles.css")
    script(src='../vendor/jquery/jquery.js')
    script(src='../vendor/popper/popper.min.js')
    script(src='../vendor/bootstrap/js/bootstrap.min.js')
    script(src='../javascripts/content.js')
    block styles
    block scripts
  body
    div(id="wrapper")
        include ../includes/nav.pug
        include ../includes/content.pug
        //include ../includes/footer.pug